/* Center the loader */
#divLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    
    /*opacity: 1;*/
    background-color:transparent !important;
    /*width: 120px;
    height: 120px;*/
    /*-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;*/
}


/*.modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0; 
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
    display: none;
}

.center {
    z-index: 1000;
    margin: 50px auto;
    padding: 10px;
    width: 130px;
   
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}*/


/*@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}*/

/* Add animation to "page content" */
/*.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}*/


.dropdown-submenu > .dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    -webkit-border-radius: 0 6px 6px 6px !important;
    -moz-border-radius: 0 6px 6px 6px !important;
    border-radius: 0 6px 6px 6px !important;
}


.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #333 !important;
    border-style: solid !important;
    border-width: 5px 0 5px 5px !important;
    content: none !important;/*Remove arrow from right side..none is the official value to set the content, if specified, to nothing.*/
    display: block !important;
    float: right !important;
    height: 0 !important;
    margin-right: -10px !important;
    margin-top: 5px !important;
    width: 0 !important;
}


@media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
        display: block !important;
    }

    #navbar {
        text-align: center !important;
    }
}  