@model IEnumerable<PRIT.Entity.tbl_CourseFees>
@{
    ViewBag.Title = "FeesMgmt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>


    <link href="~/css/Registration.css" rel="stylesheet" />

    <style type="text/css">
        .downloadC {
            margin-left: 10px
        }

        .error-msg {
            position: absolute;
            top: 37px;
            left: 0;
        }
        #exampleCourseFees_wrapper .fa{
            margin-right:6px;
        }
    </style>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


        
</head>
<br />
<br />


<button id="btnCourseFeesModel" style="margin-left:96px;" type="button" class="btn btn-info btn-lg" data-toggle="modal" >Add Candidate's Course Fees</button>

@*bind  popup to this div*@
<div id="courseFeesPopUp"></div>

<div id="courseFeesData">
    @{ Html.RenderPartial("_CourseFeesPartial", Model); }
</div>





<script>
    $(document).ready(function () {

        $('#btnCourseFeesModel').click(function () {
        
            $.ajax({
                type: "GET",
                url: '../Admin/AddEditCourseFees?CourseFeesId=0',
                success: function (status) {
                    if (status != null) {
                        $('#courseFeesPopUp').html(status);
                        $('#courseFeesModal').modal('show');

                        //modal.$el.on('shown', function () {
                        //    $('#CandidateEmailId:text:visible:first', this).focus();
                        //}); 

                        $('#courseFeesModal').on('shown.bs.modal', function () {
                            $('#CandidateEmailId').focus();
                            setTimeout(function () {
                                $('#CandidateEmailId').css("borderColor", "red")
                            }, 500)
                            setTimeout(function () {
                                $('#CandidateEmailId').css("borderColor", "#99CCFF")
                            },5000)
                        })

                        //$(document).on('focus', "CandidateEmailId", function () {
                        //    $('#CandidateEmailId').css("borderColor", "red").fadeToggle(500);
                        //})
                        //$("#CandidateEmailId").focus(function () {
                        //    $('#CandidateEmailId').css("borderColor", "red").fadeToggle(500);
                        //    //$('#CandidateEmailId').css("borderColor", "#99CCFF").fadeIn(500);
                        //});
                    }
                },
                error: function (err, status) {
                    sweetAlert("Oops...", data.message, "error");
                  
                }
            });
        });


    });

    function fnOnCourseFeesSuccess(data)
    {        
        $('#courseFeesModal').find("[data-dismiss=modal]").trigger({ type: "click" });
        if (data.success == true) {                       
            swal('Saved!', data.message, 'success')
        }
        else if (data.success == false)
        {
            sweetAlert("Oops...", data.message, "error");
        }
        if (data.result != "" || data.result!=null)
        {
            $('#courseFeesData').html(data.result);
        }


    }

   

</script>
