
@{
    ViewBag.Title = "ViewContactsNew";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .MarginTop {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
</style>

@*<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>*@
@*<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>*@
<script src="~/js/Custom/DataTable.Custom.js"></script>
<script src="~/js/Custom/jquery.table2excel.js"></script>
<div class="MarginTop">
    <div class="panel-heading">
        <a href="@Url.Action("ExportToExcel","Admin")" class="btn btn-lg btn-danger clearfix" style="  margin-bottom: 30px;"><span class="fa fa-file-excel-o"></span>Export to Excel</a>
    </div>
    @*<button id="btnExportContacts"  class="btn btn-lg btn-danger clearfix" style="  margin-bottom: 30px;"><span class="fa fa-file-excel-o"></span> Export to Excel</button>*@

    <table class="table table-hover table-bordered" id="tblCementApps">
        <thead>
            <tr class="noExl">

                @*<th class="nosort">Id</th>*@
                <th>Date</th>
                <th>Inquiry Specification</th>
                <th>Name</th>
                <th>Email </th>
                <th>Contact No</th>
                <th>Inquiry Text</th>
                <th class="nosort">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>

                <th>Date</th>
                <th>Inquiry Specification</th>
                <th>Name</th>
                <th>Email </th>
                <th>Contact No</th>
                <th>Inquiry Text</th>
                <th data-removesearch="true"></th>

            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
    
        var _columnsData = [];
        var _columns = [];
        _columnsData.push(
            { "data": "Date", "name": "Date" },
            { "data": "InquirySpecification", "name": "Inquiry Specification" },
            { "data": "Name", "name": "Name" },
            { "data": "Email", "name": "Email" },
            { "data": "ContactNo", "name": "Contact No" },
            { "data": "InquiryText", "name": "InquiryText" },
            { "data": "Actions", "name": "Actions" }
          
        )

        var cementsAppsSetting = { tableId: 'tblCementApps', columns: _columnsData, url: "/Admin/GetAppsListData", data: { id: 1 } }
        Grid.InitDynamicGrid(cementsAppsSetting);

        //$(document).on('click', '#btnExportContacts', function () {
        //    Grid.ExportTableToExcel("tblCementApps", "Contacts Details Data");
        //});

    });

    debugger;
    //var inputID = $(this).find("label").attr("for");
    //$('#' + inputID).click();
    function abc(contactId) {

        //var id = $(this).data("contactid");
        //var id = $(this).val();
        var objData = { contactId: contactId };

        swal({
            title: "Are you sure?",
            text: "You will not be able to recover record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel please!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {

                $.ajax({
                    type: "POST",
                    url: "/Admin/DeleteContact",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(objData),
                    dataType: "json",
                    success: function (result, status, xhr) {
                        debugger;
                        swal('Deleted!', 'Your imaginary file has been deleted.', 'success')
                        $('#tblCementApps').DataTable().rows($('#tblCementApps tr.active')).remove().draw();
                        // tr.remove();
                    },
                    error: function (xhr, status, error) {
                        sweetAlert("Oops...", "Something went wrong!", "error");
                    }
                });

            } else {
                swal("Cancelled", "Your imaginary file is safe :)", "error");
            }
        });

    }
</script>

 