
@{
    ViewBag.Title = "Domains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input id="linkText" name="linkText" type="hidden" value="@ViewBag.LinkText" />

<div class="col-sm-12 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;margin-top: 50px;margin-bottom: 50px;">
    <div class="accordion">

        <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading active" id="retailheading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle collapsed" id="retail" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                            1: Retail
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </h3>
                </div>

                <div id="collapseOne1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <div class="media accordion-inner">
                            <div class="pull-left">
                                <img class="img-responsive" src="/images/accordion1.png">
                            </div>
                            <div class="media-body">
                                <h4 class="text-color">  Retail :-</h4>
                                <p class="text-color">
                                    The ever increasing retail industry comprises establishments engaged in selling merchandise or commodities for personal or household consumption, mainly consisting of apparel and accessories, technology, food and beverages, home improvement, specialty, pharmaceuticals, and others need a experts to create and excellent market place for them to reach out globally. Our high-quality, cost-effective and highly configurable e-commerce solutions have helped retailers, hospitality and forecourt businesses worldwide to optimize their business practices, increase revenue and satisfy old and new customers – easier, simpler and faster.
                                    </p>
                                <p class="text-color">
                                    <b>Below are the solutions we have created for the retail Industry:</b><br />
                                    • Catalogue Management<br /> • Franchise Management<br />
                                    • Sales Force Automation <br />• Inventory Management<br />
                                    • Kiosk<br /> • Mail Order<br />
                                    • Merchandising<br /> • Order Entry<br />
                                    • Order Management<br /> • Point of Sale<br />
                                    • Rental <br />• Retail Management Systems
                                    </p>
</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="eduheading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle collapsed" id="edu" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                            2: Education & ERP
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseTwo1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4 class="text-color"> Education & ERP :-</h4>
                        <p class="text-color">
                            We provide innovative solutions for education domain, with easy access to personal and academic information, through series of designed solutions. We design conceptions and implement solutions for Educational Institutions. Our designed solutions facilitate Students, Institutions and community through our personalized environment and we also help them to raise service levels to a consistent high standard, globally.
                            </p>
                        <p class="text-color">
                            <b>Below are the solutions we have created for education industry:</b><br />
                            • School/College management <br />• Library management<br />
                            • Attendance management <br />• Student/Teacher Profile<br />
                            • Admission management <br />• Hostel Management<br />
                            • School fleet management<br /> • Online exam portal
                        </p>
</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="bankingheading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle collapsed" id="banking" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                            3: Banking & Finance
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseThree1" class="panel-collapse collapse">
                    <div class="panel-body text-color">

                        <h4 class="text-color"> BANKING & FINANCE :-</h4>
                        <p class="text-color">
                            Being the most reliable BPM Services provider for Banking and finance in India, Xontage Software Solutions  empowers businesses to gain productivity with customized and
                            digitized 24×7 customer service. In today’s highly competitive and regulated business scenario, the banking and financial services industry (BFSI) looks for new
                            low-risk financial services. Financial institutions such as, bank, mortgage companies, loan providers etc want to reduce operational costs so that
                            they can focus on innovation and other core functional activities. While outsourcing their credit and loan processing services or mortgage loan origination,
                            they look for a reputed BPO partner that can help them retain customer loyalty.
                            Xontage Software Solutions , with its extensive domain knowledge has earned the reputation of being the most trustworthy BPO for banking and finance services industry.
                            By delivering value-added solutions & unlocking cost-efficiencies; we streamline processes through technology innovation. By building transparency in
                            systems and processes, we enable organizations to meet regulatory requirements and risk. The proactive measures taken while developing customized BPO
                            solutions assist banks to create new business opportunities and address challenges.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="healthcareheading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle collapsed text-color" id="healthcare" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                            4: Healthcare
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseFour1" class="panel-collapse collapse">
                    <div class="panel-body text-color">
                        <h4 class="text-color">  Healthcare:-</h4>                      
                        <p class="text-color">
                            The healthcare ecosystem calls for a complex application of technology for delivering effective and timely care services.Xontage Software Solutions offers a wide variety of services to different players in the healthcare industry. Xontage Software Solutions has assembled a wealth of experience in developing software for the Healthcare industry. We offer our client an array of technology capabilities, strong healthcare domain knowledge and deep expertise in healthcare software engineering.
                            </p>
                        <p class="text-color">
                            <b> Below are the solutions we have created for the healthcare industry:</b><br />
                            • EMR/EHR Solutions<br /> • Hospital Management System<br />
                            • Hospital Information System <br />• Remote Patient Monitoring System<br />
                            • Medical Claims Management <br />• Medical Billing Solution<br />
                            • Clinical Business Intelligence Solutions <br />• Finance and Accounting<br />
                            • Pharmaceutical Software <br />• Laboratory Information Management System<br />
                            • Patient Flow Monitoring System <br />• Clinical Decision Support System
                            </p>

</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="insuranceheading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle collapsed text-color" id="insurance" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                            5: Insurance
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseFive1" class="panel-collapse collapse">
                    <div class="panel-body text-color">
                        <h4 class="text-color"> INSURANCE :-</h4>
                        <p class="text-color">
                            Insurance BPO services help organizations streamline and simplify operations not just to reduce costs but also enhance agility and free up resources
                            in ways that help them generate new business. The day-by-day increasing competition is leading to growing commoditization of insurance products.
                            Therefore, insurers are looking for ways to provide an improved customer experience. For example, adding advance customer analytics to drive profitability.
                            Alongside, the lack of talented workforce and changing regulatory needs have compelled insurance clients to partner with an experienced and trustworthy business
                            process outsourcing company.
                            Xontage Software Solutions  BPM services for insurance companies provide national and international insurers with high class operational service.
                            Our Insurance BPO services are aligned with industry bench-marked practices and metrics-based quality norms. These help businesses reduce operational
                            costs and enhance turn-around-time.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="crmheading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle collapsed text-color" id="crm" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                            6: CRM
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseSix1" class="panel-collapse collapse">
                    <div class="panel-body text-color">
                        <h4 class="text-color"> Customer Relationship Management  :-</h4>

                        <p class="text-color">
                            Customer relationship management (CRM) is the ultimate business tool to manage company’s interactions with current and future customers. It enterprise level application to organize, automate, and synchronize sales, marketing, customer service, and technical support.We at Xontage Software Solutions  think of it as a powerful set of tools, apps, and platforms that in combination drive optimization of business intelligence, social insights, campaign management, and many other key customer relationship matters. With a CRM system, everything from customer accounts to sales opportunities to customer leads and account activity in the cloud, plus relationships involving mobile sales, come into easy view for collaboration and rapid decision-making. Store and leverage data and analytics for the big picture on your business from many angles. Our expertise in design, development and deployment for CRM tools like Sugar CRM, DBM CRM and salesforce CRM have made our clients to achieve new level of service, sales and customer service. Below are examples of our capabilities in best CRM tools available in the market today.
                        </p>
                        <p class="text-color">
                            Accounting & Financial Management.<br />
                            Integration Platforms.<br />
                            Cloud Services.<br />
                            Web Conferencing.<br />
                            Business Intelligence.<br />
                            Enterprise Collaboration.<br />
                            Email & Calendar.<br />
                            Business Process Management.<br />
                            Data and Analytics.<br />
                            Content Management.
                        </p>
                    </div>
                </div>
            </div>


        </div><!--/#accordion1-->
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
       
        var linkText = $('#linkText').val();
        $(".panel-heading.active").removeClass('active')
        if (linkText == "Retail") {
            $("#retail").trigger("click");
            $("#retailheading").addClass('active')
        }
        else if (linkText == "Education & ERP") {
            $("#edu").trigger("click");
            $("#eduheading").addClass('active')
        }
        else if (linkText == "Banking & Finance") {
            $("#banking").trigger("click");
            $("#bankingheading").addClass('active')
        }
        else if (linkText == "Healthcare") {
            $("#healthcare").trigger("click");
            $("#healthcareheading").addClass('active')
        }
        else if (linkText == "Insurance") {
            $("#insurance").trigger("click");
            $("#insuranceheading").addClass('active')
        }
        else if (linkText == "CRM") {
            $("#crm").trigger("click");
            $("#crmheading").addClass('active')
        }

    });

</script>
